*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:'Kumbh Sans', sans-serif;
}

.navbar
{
  background-image: linear-gradient(#fca9ca, rgb(222, 187, 193));
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top:0;
  z-index: 999;
}

.navbar__container
{
  display:flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

#navtext__container
{
  background-color: rgb(255, 255, 255);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  padding-left: 50px;
  font-family: 'Kumbh Sans', sans-serif;
}

#navbar__text{
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar__logo{
  font-family: 'Kumbh Sans', sans-serif;
}

.navbar__menu
{
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.navbar__item
{
  height: 8vh;
}

.navbar__links
{
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.navbar__links:hover
{
  color: rgb(149, 4, 118);
  transition: all 0.3s ease;
}


@media screen and (max-width: 960px)
{
  .navbar__container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0;
  }

  #navtext__container{
      padding-left: 50px;
  }

  .navbar__menu{
    
    display: grid;
    grid-template-columns: auto;
    width: 25%;
    position: absolute;
    top: -1000px;
    opacity: 0;
    transition: all 0.5s ease;
    z-index: -1;
    right: 0;
  }

  .navbar__menu.active
  {
    background: rgb(77, 43, 68);
    top: 100%;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: auto;
    height: 60vh;
    font-size: 1.2rem;
  }

  .navbar__toggle .bar
  {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: #fff;
  }

  .navbar__item
  {
    width: 100%;
  }

  .navbar__links
  {
    padding-top: 1vh;
    text-align: center;
    width: 100%;
    display: table;
   
  }

  #mobile-menu
  {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
  }

  .navbar__toggle .bar{
      display: block;
      cursor: pointer;
  }

  /*animates*/

  #mobile-menu.is-active .bar:nth-child(2){
      opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1){
      transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3){
      transform: translateY(-8px) rotate(-45deg);
  }
}

/*Main Section*/

#main
{
  background: linear-gradient(45deg, #fff3ff, #fffaec);
}

#main__container {
  position: relative;
  background: linear-gradient(45deg, #fff3ff, #fffaec);

  justify-self: center;

  grid-template-columns: 1fr 1fr;

  max-width: 100vw;
  overflow-x: hidden;
  
}

#myCanvas {
  width: 100%;
  height: 100%;

}

#main__content{
  position: absolute;
  top: 50%;  /* adjust as needed */
  left: 50%; /* adjust as needed */
  transform: translate(-70%, -80%);
  z-index: 10; /* ensures it's above the canvas */
  /* Additional styling for your text and button */
}

#main__content h1{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top,#ee4086 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Playfair Display', serif;
  /*font-family: 'Dancing Script', cursive;*/
}

#main__content h2{
  font-size: 1.6rem;
  background-color: black;
  background-image: black;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Playfair Display', serif;
}

#main__btn{
  font-size: 1rem;
  background-image: linear-gradient(to top, #ffb6ad 0%, #fa90bb 
  100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

#main__btn a{
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

#main__btn:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(149, 4, 118);
  transition: all 0.35s;
  border-radius: 4px;
}

#scroll-icon {
  position: relative;
  left: 170px;
  bottom: 45px;
}

#scroll-icon img {
  width: 25px; /* Adjust the width as needed */
  height: auto;
  cursor: pointer;
}

.scroll-icon img:hover {
  filter: brightness(10); /* Adjust the brightness value to change the color on hover */
}

#main__btn:hover{
  color: #fff;
}

#main__btn:hover:after{
  width: 100%;
}

/*Mobile Responsive*/
@media screen and (max-width: 900px){

  #main__container{
     
      display: grid;
      grid-template-columns: auto;
      align-items: center;
      justify-self: center;
      padding: 0;

     /* background-color: linear-gradient(45deg, #fff3ff, #fffaec);*/
  }

  #main__content{
      transform: translate(-50%, -60%);
      text-align: center;
      margin-bottom: 4rem;
  }

  #main__content h1{
      font-size: 6 rem;
      margin-top: 2rem;
      line-height: 1.2;
  }

  #main__content h2{
      font-size: 20px;
  }

  #main__content p{
      margin-top: 1rem;
      font-size: 1.5rem;
  }

  #scroll-icon {
    left: 40%;
  }
}


/* Services Section CSS*/
#services__container
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  /*font-weight: bold;*/


  max-width: 100vw;
  overflow-x: hidden;
}

body{
  
  background-color: linear-gradient(to top,#ffe4db 40%, #fff3ff 50%);
  background-image: linear-gradient(to top,#ffe4db 40%, #fff3ff 50%);

}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .container{
  margin: 50px;
}

section h2{
  font-size: 4rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top,#ee4086 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Playfair Display', serif;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.4);
  margin: 30px;
}

section h1{
  text-align: center;
  font-size: 15px;
  color: #838383;
}

section h4{
  padding: 15px 15px 15px 15px;
  font-size: 12px;
  text-align: left;
  font-family: 'Playfair Display', serif;
}

section .text__container{
   display: flex;
   justify-content: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

section .text__container .box-container {
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  margin: 30px;
  transition: box-shadow 0.3s, transform 0.2s ease-in; /* Combine transitions */
  position: relative;
  cursor: pointer;
  
}


section .text__container .text__box{
  height: 200px; 
  max-width: 300px; 
  min-width: 150px;
  width: 50vw;
  border: none;
  background-size: cover;
  background-repeat: no-repeat; 
  transition: opacity 0.3s; 
  font-size:150px;
  color: rgba(0, 0, 0, 0);
  transition: color 0.3s ease;
  transition: background-color 0.3s ease;
  cursor: pointer;
}


section .text__container .description__box{
  height: 170px; 
  max-width: 300px; 
  min-width: 150px;
  width: 50vw;
  background: white;
  padding-top: 15px;
  text-align: center;
  font-size: 22px;
}

section .text__container .box-container:hover {
  /* Apply shadow and transformation to both text box and description box */
  box-shadow: 8px 8px 10px rgba(0, 0, 0, 0.4);
  transform: scale(1.075);
  animation: pulse 1s forwards;
}

section .text__container .text__box:hover {
  /* Apply shadow and transformation to both text box and description box */ 
  background-color: #4137ca;
  background-blend-mode: soft-light;
  color: rgb(255, 255, 255);
}

section .text__container .box-container:nth-child(1) .text__box {
  background-image: url('images/csharpImg.png');
}
section .text__container .box-container:nth-child(2) .text__box {
  background-image: url('images/java.png');
}

section .text__container .box-container:nth-child(3) .text__box {
  background-image: url('images/cImg.png');
}

@media (max-width: 1200px){
  section .text__container .box-container {
    margin: 15px;
  }

  section h2{
    font-size: 3.5rem;
  }
}

@media (max-width: 990px){

  section .text__container .box-container {
    width: 60vw;
    max-width:none;
    display: flex;
    justify-content: center;
  }

  section .text__container .text__box {
    width: 60vw; /* Adjust width for small screens */
    max-width: none; /* Remove max-width on small screens if needed */
  }

  section .text__container .description__box {
    width: 60vw; /* Adjust width for small screens */
    max-width: none; /* Remove max-width on small screens if needed */
  }

  section .text__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section h2{
    font-size: 3rem;
  }

}

@media (max-width: 480px){

  section .text__container .description__box {
    height: 200px;
  }

  section .text__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section h2{
    font-size: 3rem;
  }

}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}


/*Contact Me*/

#hr-line{
  border: 3px;
  height: 1px;
  background-color: rgb(144, 144, 144);
  width: 80%;
  margin: 0 auto; /* Center the line on the page */
}

#contact-background{
  width: 100%;
  height: 100%;
  background: linear-gradient(to top,#fff3ff, #ffe4db);
  z-index: 0;

}
.contact__container
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  width: 80%;
  margin: 50px auto;

  max-width: 100vw;
}

.contact-box{
  background: white;
  display: flex;
}

.contact-left{
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-right{
  flex-basis: 40%;
  padding: 20px;
  color: white;
  background: #ffb199;
}

#contact-image {
  width: 100%;
  height: auto;
  max-width: 400px;
  display: block;
  margin: 0 auto;
}

.contact__container h1{
  font-size: 2rem;
  background-color: #ff8177;
  background-image: linear-gradient(to top,#ee4086 0%, #ffb199 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: 'Playfair Display', serif;
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-row{
  display:flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.input-row .input-group{
  flex-basis: 45%;

}

input{
  width: 100%;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  padding-bottom:5px;

}

textarea{
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

label{
  margin-bottom: 6px;
  display: block; 
  color: #ee4086;
}

#contact-btn{
  font-size: 1rem;
  background-image: linear-gradient(to top, #ffb6ad 0%, #fa90bb 
  100%);
  padding: 14px 32px;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
  position: relative;
  transition: all 0.35s;
  outline: none;
}

#contact-btn a{
  position: relative;
  z-index: 2;
  color: #fff;
  text-decoration: none;
}

#contact-btn:after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(149, 4, 118);;
  transition: all 0.35s;
  border-radius: 4px;
}

#contact-btn:hover{
  color: #fff;
}

#contact-btn:hover:after{
  width: 100%;
}

.contact-left h3{
  color: #ee4086;
  font-weight: 600;
  margin-bottom: 30px;
}

.contact-right h3{
  font-weight: 600;
  margin-bottom: 30px;
}

@media screen and (max-width: 900px){
  .input-row {
    display:block;/* Full width on screens with a maximum width of 600px */
  }

  .input-group{
    margin-bottom: 20px;
  }

  .contact__container h1{
    font-size: 1.8rem;
  }

  .contact-box{
    display:block;
    margin: 20px;
  }
}


 